@media (min-width:768px) and (max-width:1206px){ 
	/*header*/
/*	header {background: url(../images/header/header-bg-tablet.jpg) center top no-repeat !important;}*/
	header .header-inside-top {width: 751px; height: 124px;}
	.header-inside-top .header-inside-left {width: 298px;}
	.header-inside-top .header-inside-left input[type=text] {width: 238px;}
	.header-inside-top .logo {margin: 0 3% 0 3%;}
	.header-inside-top .header-inside-right {width: 157px; margin: 0 10px 0 0; float: right;}
	.header-inside-top .header-inside-right .remember {padding: 7px 36px 0 0px;}
	div.header-inside-right ul {padding: 12px 10px 0 0;}
	header .nav-top-inside {width: 751px; height: 54px;}
	header .nav-top-inside li {margin: 0px; padding: 10px;}
	header .nav-top-inside li:first-child {margin: 0 0px 0 4px;}
	header .nav-top-inside li:last-child {margin: 0 0 0 0px;}
	header .nav-top-inside a {font-size: 16px;}
/*	header .header-inside-bottom {margin-top: 337px; padding: 0 0 43px 0;}*/
	header .header-inside-bottom h1 {bottom: 20%; left: auto; max-width: 100%; width: 100%; padding: 0; font-size: 40px; background: none;}
	header .header-inside-bottom h4 {}
	/*content-top*/
	.content-top .content-top-inside {width: 751px;}
	.content-top .content-top-inside h2 {font-size: 26px;}
	.content-top .content-top-inside h2 span {width: 150px;}
	/*.content-top .my-auto li {padding: 0px 0px 14px 25px;}*/
	/*.content-top .my-auto li:first-child {padding: 0px 0px 14px 25px;}*/
	.content-top-inside ul.my-auto li {padding: 0 0 14px 25px;}
	.content-top .content-sidebar {width: 202px;}
	.content-top .content-sidebar h3 {font-size: 24px;}
	.content-top .content-sidebar li {padding: 0px 0px 0 10px;}
	.content-top .content-sidebar a {padding: 8px 0 10px 40px; font-size: 14px;}
	.content-top .sidebar-1 h3{padding: 17px 0 6px 102px;}
	.content-top .sidebar-2 h3 {padding: 19px 0 0 116px;}
	.content-top .sidebar-3 {width: 180px; padding: 0 0 0 12px;}

	.content-top .content-description {width: 539px;}
/*	.content-top .filter {width: 768px;}*/
	.content-top .filter a {padding: 0px 7px 12px 16.5px;}
	.content-top .ul-top li {width: 169px; height: 310px;}
 	.content-top .ul-top li img:first-child {padding: 0 33px 0 26px;}
 	.ul-top li img:nth-child(3) {width: 144px;}
 	.content-top .top-button {left: 10px;}
 	.content-top .ul-bottom-left-content {width: 185px;}
 	.content-top .ul-bottom-left h4 span {width: 93px;}
 	.ul-bottom-right {width: 326px;}
 	.content-top .ul-bottom-right-top h4 span {width: 128px;}
 	.content-top .ul-bottom-right-bottom h4 span {width: 187px;}
 	.content-top .ul-bottom-right li {margin: 10px 0 14px 9px;}
 	/*content-center*/
 	.content-center .banner-center {background: url(../images/content-center/banner-center-bg-tablet.jpg) center no-repeat;}
	.content-center .content-center-inside {width: 741px; padding: 8px 5px 0 5px}
	.content-center .banner {padding: 0 0 15px 0;}
	.banner img {width: 230px;}
	.content-center .content-center-inside .banner:nth-child(2) {padding: 0 25px;}
	/*content-bottom*/	
	.content-bottom .nav-bottom-inside {width: 751px; height: 54px;}
	.content-bottom .nav-bottom-inside li {margin: 0px; padding: 10px;}
	.content-bottom .nav-bottom-inside li:first-child {margin: 0 0px 0 4px;}
	.content-bottom .nav-bottom-inside li:last-child {margin: 0 0 0 0px;}
	.content-bottom .nav-bottom-inside a {font-size: 16px;}
	section.content-bottom-inside {width: 751px; padding: 45px 0 70px 0;}
	.content-bottom  .content-bottom-inside .logo {margin: 9px 0 0 60px;}
	.content-bottom .content-bottom-left {width: 530px;}
	.content-bottom-left ul {width: 144px; float: left;}
	.content-bottom .payment {padding: 9px 0 0 49px; float: left;}

	/*footer-inside*/
	footer .footer-inside {max-width: 999px; padding: 0 10px;}

/*-----------------------------------------------------------------------------------*/
/*  CATALOG-INSIDE
/*-----------------------------------------------------------------------------------*/
	div.subcategory-inside {width: 750px;}
	div.subcategory-inside li {padding: 20px 25px 0 0;}

	.content-top .content-sidebar .your-car h3 {font-size: 18px;}
	.content-sidebar .your-car h3 span {width: 158px; margin: 0 0 10px 0;}     
	.content-sidebar a.back-to {padding: 16px 0 17px 0;}

	.search-options img {width: 202px;}

	.content-sidebar .sidebar-1 > ul > li > ul > li {margin-left: 16px;}
	.content-sidebar .sidebar-1 > ul > li > ul > li a {padding: 8px 0 8px 20px;}

	div.catalog-description {width: 539px;}
	div.block-img {width: 152px;}
	div.cd-text-left { width: 162px;}
	a.read-more {margin: 27px 0 0 0; padding: 7px 20px;}
	a.buy {padding: 8px 45px 8px 30px;}
	a.buy-kredit {font-size: 15px; padding: 8px 12px 8px 12px;}
	div.cd-text-right {width: 174px;}
/*-----------------------------------------------------------------------------------*/
/* CATALOG-BRAND
/*-----------------------------------------------------------------------------------*/
.select-brand ul.my-auto li {
    padding: 0 0 14px 15px;
}
.select-brand .my-auto li.my-auto-li-fitst{
    padding-left: 15px;
}
/*-----------------------------------------------------------------------------------*/
/*  CATALOG-MODEL
/*-----------------------------------------------------------------------------------*/
	ul.my-auto-model li img {width: 105px;}
	.title-model {font-size: 14px;}
	ul.my-auto-model a {padding: 11px 0 12px 8px; font-size: 13px; background: none;}
	ul.my-auto-model a:hover {text-decoration: underline; background: none;}
/*-----------------------------------------------------------------------------------*/
/* CONTACTS
/*-----------------------------------------------------------------------------------*/
	div.contact-description-tabs {width: 488px; margin: 0 8px 0 0;}
	ul.contact-filter li{width: 24.65%;}
	ul.contact-div {font-size: 20px;}
	ul.contact-div li {width: 37%;}
	li.contact-adress {padding: 53px 0 0 67px; line-height: 25px; background: url(../images/content-top/contact-adress-bg.png) 31px 57px no-repeat;}
	li.contact-phone {padding: 30px 0px 0 65px; line-height: 25px; background: url(images/content-top/contact-phone-bg.png) 30px 33px no-repeat;}

	form.contact-form {width: 223px; height: 312px; padding: 0 16px 0 8px; font-size: 14px; border: 3px solid #891f74;}
	form.contact-form h3 {letter-spacing: 0; font-size: 20px;}
	form.contact-form input {width: 212px;}
	form.contact-form textarea {width: 212px;}
	form.contact-form input.button-contact {width: auto; padding: 7px 24px 6px 25px; font-size: 15px;}
/*-----------------------------------------------------------------------------------*/
/* NEWS
/*-----------------------------------------------------------------------------------*/
	ul.news-page li:last-child {width: 57%;}
	a.news-more {margin: 15px 0 0 0;}
/*-----------------------------------------------------------------------------------*/
/* PAGE
/*-----------------------------------------------------------------------------------*/
	.page-ul li img{width: 315px;}
	div.pdp-left {width: 47%; padding: 0 0px 0 15px;}












}
/*----------------------------------------------*/


@media (min-width:320px) and (max-width:767px) { 
	header {background: url(../images/header/header-bg-mobile.jpg) center top no-repeat !important;}
	.header-inside-top .header-inside-left {float: none;}
    .header-inside-top .header-inside-left {overflow: hidden; width: 100%;}
    .header-inside-left form {width: 157px; float: left; margin: 0 0 0 10px;}
    .header-inside-top .header-inside-left input[type=text] { width: 100px;}
    .header-inside-top .remember-mobile {display: inline-block; width: 95px; height: 19px; margin: 0 5px 0 0; padding: 5px 36px 12px 0px; text-align: right; text-decoration: none; font-size: 18px; color: #891f74; background: url(../images/header/remember-bg.png) right 5px no-repeat; opacity: 0.9; float: right;}
    .header-inside-top  .header-inside-left h3{width: 100%; padding: 22px 0 0 0; text-align: center;}    
    .header-inside-top .logo {width: 54px; height: 54px; margin: 0 auto; float: none;}
    .header-inside-top .logo a {display: block; width: 54px; height: 54px; background: url(../images/header/logo-bg-mobile.png);}
	.header-inside-top .header-inside-right {width: 95%; margin: 0 auto; padding: 0px 5px; float: none;}	
	.header-inside-top .header-inside-right ul {padding: 0;}
	.header-inside-right li {display: block; width: 283px; margin: 0 auto; padding: 9px 0 10px 0;}
	header .header-inside-top .remember {display: none;}

    header .nav-top-inside {display: none; height: 100%; padding: 0;}
    header .nav-top .nav-top-inside li {margin: 0; padding: 0; border: none; float: none;}
    .nav-top-inside li a {padding: 10px 15px; font-size: 14px; border-left: 5px solid transparent; border-top: 1px solid #1a4160; background: #fffcfc; color: #0f1d2c;}
    .nav-top-inside li:first-child a {border-top: none;}
    .nav-top-inside li a:hover {background: #f0f0f0; color: #444; border-left: 5px solid #1a4160;}
    .nav-top #touch-menu {display: block; padding: 10px 15px; font-family: 'FiraSansBold'; font-size: 18px; color: #fff;}

    header .header-inside-bottom {display: none;}
   /* header .header-inside-bottom h1 {font-size: 28px;}
    header .header-inside-bottom h4 span {display: none;}*/
    /*content-top*/
    .content-top-inside ul.my-auto li {padding: 0px 0px 14px 40px;}
	/*.content-top .my-auto li:first-child {padding: 0px 0px 14px 40px;}*/
	.content-top .content-top-inside h2 {padding: 18px 0 5px 10px; font-size: 26px;}
	.content-top .content-top-inside h2 span {display: block !important; width: 95%;}
	.content-top .content-sidebar {overflow: hidden; width: 100%; margin: 0 auto; float: none;}
	.content-sidebar .sidebar-1, .content-sidebar .sidebar-2{width: 282px; margin: 10px auto;}
	.content-top .sidebar-3 {width: 261px; margin: 0 auto; padding: 0 0 0 12px;}
	.content-top .content-sidebar h3 {font-size: 24px;}
	.content-top .content-sidebar li {padding: 0px 0px 0 10px;}
	.content-top .content-sidebar a {padding: 8px 0 8px 40px; font-size: 14px;}
	.content-top .sidebar-1 h3{padding: 17px 0 6px 102px;}
	.content-top .sidebar-2 h3 {padding: 19px 0 0 116px;}

	.content-top .content-description {overflow: hidden; width: 100%; padding: 20px 0 0 0; float: none;}
	.content-top .filter {width: 95%; height: auto;}
	.content-top .filter li {height: 19px; float: none; padding: 10px 0}
	.content-top .filter li span {display: none;}
	.content-top .filter a {padding: 0px 47px 12px 30px;}
	.content-top .ul-top li {height: 260px;}
 	.content-top .ul-top li img:first-child {padding: 0 18px 0 10px;}
 	.ul-top li img:nth-child(3) {width: 65%;}
	.ul-top .brand {padding: 14px 0 0 14px; font-size: 14px;}

 	.content-top .top-button {left: 0px; font-size: 14px; padding: 8px 65px 8px 19px; background: #fff url(../images/content-top/button-bg.png) 104px 7px no-repeat;}
 	.content-top .top-button:hover {background: #fff url(../images/content-top/button-hover-bg.png) 104px 7px no-repeat;}
 	.content-top .ul-bottom-left {max-width: 97%; width: 97%; margin: 0 0 15px 0;}
 	.ul-bottom-left .ul-bottom-left-content {width: auto;}
 	.ul-bottom-left-content img { display: block; margin: 0 auto;} 	
 	.brand {width: 152px; margin: 0 auto;}
 	.price {width: 124px; margin: 0 auto;}
 	.content-top .ul-bottom-left h4 span {width: 66%;}
 	.ul-bottom-right {width: 100%;}
 	.content-top .ul-bottom-right-bottom h4 span {width: 507px;}
 	.content-top .ul-bottom-right li {margin: 10px 0 14px 9px;}

	 /*content-center*/
	.content-center-inside .banner {width: 100%; padding: 20px 0 0 0;}
	.content-center .content-center-inside .banner:nth-child(2) {padding: 20px 0 0 0;}
 	.banner img {width: 100%;}
 	.content-center-inside-text {padding: 20px 10px;}
 	.content-center-inside .content-center-inside-text  h3 {padding: 10px 0; font-size: 20px;}

	 /*content-bottom*/
 	.content-bottom .nav-bottom-inside {display: none; height: 100%; padding: 0;}
    .content-bottom .nav-bottom .nav-bottom-inside li {margin: 0; padding: 0; border: none; float: none;}
    .content-bottom .nav-bottom-inside li a {padding: 10px 15px; font-size: 14px; border-left: 5px solid transparent; border-top: 1px solid #c4c3c4; background: #fffcfc; color: #343434;}
    .nav-bottom-inside li:first-child a {border-top: none;}
    .nav-bottom-inside li a:hover {background: #f0f0f0; color: #444; border-left: 5px solid #c4c3c4;}
    .nav-bottom #touch-menu-bottom {display: block; padding: 10px 15px; font-family: 'FiraSansBold'; font-size: 18px; color: #343434;}

	.content-bottom .content-bottom-inside {padding: 5px 0 70px 0;}
	.content-bottom .content-bottom-inside .logo {margin: 9px auto; float: none;}
	.content-bottom .content-bottom-left {width: 280px; margin: 0 auto; padding: 0 0 0 10px; float: none;}
	.content-bottom .payment {padding: 40px 0 20px 20px;}
	.content-bottom .payment h3 {padding: 0 0 10px 2px;}
	.content-bottom .content-bottom-right {width: 100%; padding: 20px 0 0 0px;}
	.content-bottom .sidebar-footer-1 {width: 300px; padding: 0 0 0 10px;}
	.content-bottom .sidebar-footer-2 {width: 300px; padding: 0 0 0 10px;}
	.content-bottom-right h3 {text-align: center;}
	
	 /*footer*/
	.footer-inside {padding: 0 15px;}
	.footer-inside .viewed {border: none;}
	.footer-inside .comparison {padding: 10px 10px 10px 21px; background: url(../images/footer/comparison-bg.png) 0px 12px no-repeat;}
	.footer-inside .basket {padding: 10px 10px 10px 20px; background: url(../images/footer/basket-bg.png) 0px 11px no-repeat;}
	/* modal */
	div.b-popup {max-width: 279px; padding: 24px 10px 10px 10px;}
	.b-popup form.form_one_two input {width: 253px;}
	.b-popup form.form_one_two textarea {width: 253px;}


	div.your-car {width: 282px; margin: 0 auto 20px auto;}
	div.search-options {width: 282px; margin: 0 auto 20px auto;}
	div.search-options img {width: 282px;}
/*-----------------------------------------------------------------------------------*/
/*  CATALOG-INSIDE
/*-----------------------------------------------------------------------------------*/
	.cd-text .desctop-visible {display: none;}
	div.subcategory-inside {position: relative; width: 100%;  padding: 0 0 65px 0;}
    .subcategory-inside ul {overflow: hidden; display: table; margin: 0 auto; list-style: none;}
    .subcategory-inside ul li {padding: 20px 0px 0 0; float: none;}
	div.select3 {position: static;}
	.subcategory-inside a.subcate-more {position: absolute; top: 155px; left: 34%;}
	ul.drop3 {top: 203px; left: 26%; margin: 0;}

	div.catalog-description {width: 95%; margin: 0 auto; padding: 0; float: none;}
	

	h4.mobile-visible, span.mobile-visible {display: block; text-align: center;}
	div.block-img, div.cd-text-left, div.cd-text-right {margin: 0 auto 10px auto; float: none;}
	
	div.catalog-news {width: 95%; margin: 0 auto; float: none;}
	.content-top .sidebar-1 > ul > li > ul > li {margin-left: 25px;}
/*-----------------------------------------------------------------------------------*/
/* CONTACTS
/*-----------------------------------------------------------------------------------*/
	div.contact-description-tabs {width: 97%; margin: 0 auto; float: none;}
	ul.contact-filter li {width: 100%; margin: 0; float: none;}
	ul.contact-filter a {width: 13%; height: 60px;}
	ul.contact-filter li a.selected {border: 1px solid #aeaeae;}
	ul.contact-div li {width: 37%; font-size: 20px;}
	li.contact-adress {padding: 53px 0 0 67px; line-height: 25px; background: url(../images/content-top/contact-adress-bg.png) 31px 57px no-repeat;}
	.contact-div li.contact-phone {width: 80%; padding: 30px 0px 0 65px; line-height: 25px; background: url(../images/content-top/contact-phone-bg.png) 30px 33px no-repeat;}

	form.contact-form {margin: 20px auto; float: none;}
/*-----------------------------------------------------------------------------------*/
/* NEWS
/*-----------------------------------------------------------------------------------*/
	ul.news-page li {display: table; margin: 0 auto; float: none;}
	ul.news-page li:last-child {width: 100%; padding: 0;}
	a.news-more {margin: 15px 0 0 0;}
	.news-page .desctop-visible {display: none;}
	ul.news-page li:last-child {padding: none;}
	.news-page h4, .date {text-align: center;}
/*-----------------------------------------------------------------------------------*/
/* PAGE
/*-----------------------------------------------------------------------------------*/
	div.page-description {padding: 15px 10px 0px 10px;}
	.page-ul .desctop-visible {display: none;}
	.page-ul .mobile-visible {display: block;}
	.page-ul h4 {padding: 0 0 10px 0; text-align: center;}
	.page-ul .page-ul-img{display: table; margin: 0 auto; float: none;}
	ul.page-ul li:last-child {width: 100%;}
	div.page-list ul {width: 50%;}
	div.page-list form {display: table; padding: 35px 0 0 0; margin: 0 auto; float: none;}

	div.pdp-left, div.pdp-right {width: 95%; margin: 0 auto; float: none;}









}
@media (min-width:320px) and (max-width:560px){
	div.content-bottom .content-bottom-inside {padding: 5px 0 71px 0;}
	div.fc-left, div.fc-right {display: table; width: 317px; margin: 0 auto; float: none;}
	div.fc-right {padding: 5px 0 0 0;}
	.fc-right .select {padding: 0 0 0 7px;}
}
@media (min-width:320px) and (max-width:650px){
	div.page-title-map {width: 320px; margin: 0 auto; text-align: center;}
	div.catalog-form {padding: 0 0 20px 0; float: none;}
	div.catalog-form input[type=text] {width: 239px; padding: 0 21px 0 15px;}
	div.catalog-form input[type=submit] {right: 27px;}
	div.catalog-news-left {width: auto; padding: 0 10px 0 0; float: none;}
	.catalog-news-right {padding: 30px 0 0 0;}
}
@media (min-width:360px) and (max-width:767px){
	.header-inside-top .remember-mobile {width: 135px;}
}
@media (min-width:400px) and (max-width:499px){
	div.subcategory-inside a.subcate-more {left: 37%;}
	div.subcategory-inside ul.drop3 {left: 29%;}
}
@media (min-width:500px) and (max-width:649px){
	div.subcategory-inside a.subcate-more {left: 41%;}
	div.subcategory-inside ul.drop3 {left: 34%;}
}
@media (min-width:650px) and (max-width:767px){
	div.subcategory-inside a.subcate-more {left: 43%;}
	div.subcategory-inside ul.drop3 {left: 37%;}
}
@media (min-width:450px) and (max-width:767px){
	.cd-text div.cd-text-left {padding:  0 0 0 10px; float: left;}
	.cd-text div.cd-text-right {float: right;.cd-text }
}
@media (min-width:320px) and (max-width:491px){
	footer .footer-inside {width: 275px;}
	.content-bottom .content-bottom-inside {padding: 5px 0 137px 0;}
}
@media (min-width:492px) and (max-width:710px){
	footer .footer-inside {font-size: 13px;}
	.footer-inside .online-consultant {width: 202px;}
	footer .footer-inside .basket {width: 205px; padding: 10px 0px 10px 20px;}
}

@media (min-width:577px) and (max-width:650px){
	footer .footer-inside {padding: 0 10%;}
}
@media (min-width:651px) and (max-width:1015px){
	footer .footer-inside {padding: 0 14%;}
	div.comparison {padding: 10px 10px 10px 56px; background: url(../images/footer/comparison-bg.png) 35px 12px no-repeat;}
}
@media (min-width:660px) and (max-width:767px){
	.cd-text div.block-img {float: left;}
}
@media (min-width:569px) and (max-width:758px){
	.content-bottom .content-bottom-left {width: auto;}
	.content-bottom-left ul {float: left;}
	.content-bottom-left .payment {padding: 0px 10px 20px 10px; float: right;}
}
@media (min-width:320px) and (max-width:636px){
	section.content-bottom .sidebar-footer-1, section.content-bottom .sidebar-footer-2 {width: 95%; text-align: center;}
	.sidebar-2-br {display: none;}
	.content-bottom .content-bottom-right a {padding: 0px 0 10px 0px;}
	.content-bottom .sidebar-footer-2 h3 {padding-top: 20px;}
}
@media (min-width:320px) and (max-width:446px){
	.content-top .ul-top li {width: 45%; height: 260px;}
}
@media (min-width:447px) and (max-width:624px){
	.content-top .ul-top li {width: 31%; height: 260px;}
}
@media (min-width:625px) and (max-width:768px){
	.content-top .ul-top li {width: 23%; }
}
@media (min-width:320px) and (max-width:668px){
	.ul-bottom-right .ul-bottom-right-top li {width: 29%;}
	.content-top .ul-bottom-right-top h4 span {width: 34%;}
	.ul-bottom-right .ul-bottom-right-bottom li {width: 29%;}
	.content-top .ul-bottom-right-bottom h4 span {width: 55%;}
}
@media (min-width:320px) and (max-width:355px){
 .content-top .content-top-inside .top-button{left: 2%;}
}
@media (min-width:356px) and (max-width:375px){
 .content-top .content-top-inside .top-button{left: 4%;}
}
@media (min-width:376px) and (max-width:403px){
 .content-top .content-top-inside .top-button{left: 4%;}
}
@media (min-width:404px) and (max-width:446px){
 .content-top .content-top-inside .top-button{left: 11%;}
}
@media (min-width:447px) and (max-width:490px){
 .content-top .content-top-inside .top-button{left: 0%;}
}
@media (min-width:491px) and (max-width:509px){
 .content-top .content-top-inside .top-button{left: 2%;}
}
@media (min-width:510px) and (max-width:540px){
 .content-top .content-top-inside .top-button{left: 5%;}
}
@media (min-width:541px) and (max-width:570px){
 .content-top .content-top-inside .top-button{left: 7%;}
}
@media (min-width:571px) and (max-width:624px){
 .content-top .content-top-inside .top-button{left: 10%;}
}
@media (min-width:625px) and (max-width:690px){
 .content-top .content-top-inside .top-button{left: 3%;}
}
@media (min-width:691px) and (max-width:735px){
 .content-top .content-top-inside .top-button{left: 6%;}
}
@media (min-width:736px) and (max-width:767px){
 .content-top .content-top-inside .top-button{left: 8%;}
}
/*-----------------------------------------------------------------------------------*/
/*  CATALOG-MODEL
/*-----------------------------------------------------------------------------------*/
@media (min-width:637px) and (max-width:710px) { 
	ul.my-auto-model li {width: 33%; font-size: 15px;}
}
@media (min-width:426px) and (max-width:636px) { 
	ul.my-auto-model li {width: 50%; font-size: 15px;}
}
@media (min-width:320px) and (max-width:425px) { 
	ul.my-auto-model li {width: 100%; font-size: 18px;}
}
/*-----------------------------------------------------------------------------------*/
/* CONTACTS
/*-----------------------------------------------------------------------------------*/
@media (min-width:320px) and (max-width:502px) {
	div.contact-description-tabs ul.contact-div li {display: table; width: auto; margin: 0 auto; padding: 30px 0 10px 50px; float: none;}
	ul.contact-div li.contact-adress {background: url(../images/content-top/contact-adress-bg.png) 8px 46px no-repeat;}
	ul.contact-div .contact-email {background: url(../images/content-top/contact-email-bg.png) 11px 33px no-repeat;}
	ul.contact-div li.contact-phone {background: url(../images/content-top/contact-phone-bg.png) 0px 35px no-repeat;}   
}
@media (min-width:320px) and (max-width:346px){
	form.contact-form {width: 263px; height: 312px; padding: 0 16px 0 8px; font-size: 14px; border: 3px solid #891f74;}
	form.contact-form h3 {letter-spacing: 0; font-size: 23px;}
	form.contact-form input {width: 252px;}
	form.contact-form textarea {width: 252px;}
	form.contact-form input.button-contact {width: auto; padding: 7px 24px 6px 25px; font-size: 15px;}
}

/*----------------------------------------------*/



@media (min-width:100px) and (max-width:319px) { 
	

}






@media (min-width:100px) and (max-width:319px) { 
	

}



 
 